html,
body {
  width: 100%;
  height: 100%;

  color: #fff;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;

  display: flex;
  align-items: center;
  justify-content: center;
}

html {
  background: #000;
}

body {
  background: radial-gradient(circle, #4f04ff42 0%, #000 400px);
}

h1,
h2,
p {
  margin: 20px;
}

a {
  color: #b67eff;
}

hr {
  border: 2px solid #ffffff11;
  width: calc(100% - 40px);
  border-radius: 8px;
}

div#app {
  width: 580px;
}

div#title {
  margin-top: 20px;
  display: flex;
  align-items: center;
}

div#title h1 {
  margin: 0 10px 0 20px;
}

div#title img {
  width: 48px;
  height: 48px;
}

div.card,
div#revolt {
  margin: 20px;
  border-radius: 10px;
}

div.card {
  border: 1px solid #ffffff11;
  transition: 250ms;
}

div.card:hover {
  background: #ffffff11;
}

div#revolt {
  display: flex;
  align-items: center;
  padding: 10px;

  background-position: center;
  background-size: cover;

  background: #111;
}

div#revolt img {
  width: 128px;
  height: 128px;

  border-radius: 10px;
}

div#revolt h1 {
  margin: 5px;
  margin-left: 20px;
}

div#revolt p {
  margin: 5px;
  margin-left: 20px;
}

div#social {
  display: flex;
  align-items: center;

  margin-left: 20px;
}

div#social a {
  background: #111;
  border-radius: 10px;
  padding: 4px;

  width: 24px;
  height: 24px;

  margin-right: 4px;
}

@media only screen and (max-width: 600px) {
  body {
    display: block;
  }

  hr {
    display: none;
  }

  div#title img {
    width: 28px;
    height: 28px;
  }

  div#app {
    width: 100%;
  }

  h1 {
    font-size: larger;
  }
  h2 {
    font-size: large;
  }
  p {
    font-size: small;
  }

  div.card,
  div#revolt {
    margin: 20px;
    margin-bottom: 10px;
  }

  div#revolt img {
    width: 96px;
    height: 96px;
  }
}
