/* 
  taken from 
  https://raw.githubusercontent.com/rose-pine/palette/main/dist/css/rose-pine-rgb.css
*/
:root {
  --rp-base: rgb(25, 23, 36);
  --rp-surface: rgb(31, 29, 46);
  --rp-overlay: rgb(38, 35, 58);
  --rp-muted: rgb(110, 106, 134);
  --rp-subtle: rgb(144, 140, 170);
  --rp-text: rgb(224, 222, 244);
  --rp-love: rgb(235, 111, 146);
  --rp-gold: rgb(246, 193, 119);
  --rp-rose: rgb(235, 188, 186);
  --rp-pine: rgb(49, 116, 143);
  --rp-foam: rgb(156, 207, 216);
  --rp-iris: rgb(196, 167, 231);
  --rp-highlight-low: rgb(33, 32, 46);
  --rp-highlight-med: rgb(64, 61, 82);
  --rp-highlight-high: rgb(82, 79, 103);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  min-height: 100vh;
  color: var(--rp-text);
  background: var(--rp-base);

  line-height: 1.6;
  font-family: 'Inter', sans-serif;
}
