:root {
  --color-base: #fafafa;
  --color-surface: #f2f2f2;
  --color-overlay: #e5e5e5;
  --color-muted: #5a5a5a;
  --color-subtle: #444;
  --color-text: #333;
  --color-love: hsl(0, 100%, 50%);
  --color-gold: hsl(25, 100%, 50%);
  --color-rose: hsl(50, 100%, 50%);
  --color-pine: hsl(200, 100%, 50%);
  --color-foam: hsl(125, 50%, 50%);
  --color-iris: hsl(250, 100%, 50%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-base: #0a0a0a;
    --color-surface: #121212;
    --color-overlay: #1a1a1a;
    --color-muted: #777;
    --color-subtle: #888;
    --color-text: #bbb;
    --color-love: hsl(0, 100%, 75%);
    --color-gold: hsl(25, 100%, 75%);
    --color-rose: hsl(50, 100%, 75%);
    --color-pine: hsl(200, 100%, 75%);
    --color-foam: hsl(125, 100%, 75%);
    --color-iris: hsl(250, 100%, 75%);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100vh;
  color: var(--color-text);
  background: var(--color-base);

  transition:
    color 0.5s,
    background-color 0.5s;

  line-height: 1.6;
  font-family: 'Inter', sans-serif;
}
